#frame-lefter *{
    color: #ECF0F1;
}

#frame-lefter .switcher{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #2C3E50;
    text-align: center;
    border-top: 1px solid #34495E;
}

#frame-lefter .switcher i{
    line-height: 40px;
    color: #ECF0F1;
    width: 100%;
}

#frame-lefter .switcher:hover{
    background-color: #1ABC9C;
}

#frame-lefter .switcher i.rotated{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
}

.menu dd{
    width: 100%;
}

.menu dd a.item{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 1px;
}

.menu dd a.item:hover{
    background-color: #2A323F;
    color: #65CEA7;
}
